<div class="container my-5">
  <div class="row">
    <h2>商品詳細</h2>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
      <%= attachment_image_tag @product, :image, size: "200x200", fallback: "noimage-1024x898.png" %>
    </div>

    <div class="col-sm-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @product.name %></td>
          </tr>

          <tr>
            <td>商品説明</td>
            <td><%= @product.introduction %></td>
          </tr>

          <tr>
            <td>税込価格(税抜価格)</td>
            <td><%= @product.price %>(<%= (@product.price * 1.1).floor %>)円</td>
          </tr>

          <tr>
            <td>販売ステータス</td>
            <td><%= @product.is_active %></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-9 col-sm-2">
      <%= link_to "編集する", edit_managers_product_path(@product), class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>
