<h2>注文情報確認</h2>

<div class="col-7 ml-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
            <tr>
                <td><%= attachment_image_tag cart_item.product, :image, size: "50x50", fallback: "noimage-1024x898.png" %>
       <span><%= cart_item.product.name %></span></td>
                <td><%= (cart_item.product.price * 1.1).floor %>円</td>
                <td></td>
                <td><%= (cart_item.product.price * 1.1).floor * cart_item.quantity %>円</td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div>
<div class="col-3 ml-3">
  <table class="table table-bordered">
      <tr>
        <th>送料</th><td>800</td>
      </tr>
    
      <tr>
        <th>商品合計</th><td>？？</td>
      </tr>
    
      <tr>
        <th>請求額</th><td>？？</td>
      </tr>
  </table>
</div>
   
<p>支払い方法</p>


<%= form_with model: @order, url: orders_path, method: :post do |f| %>
<%= f.submit "注文を確定する", class: " btn btn-primary" %>
<% end %>