<div class='container px-12 px-sm-0'>
  <div class='row'>
    <div class='col-md-9'>
      <h3>注文情報の入力</h3>
      <%= form_with(model: @order, url: info_orders_path, method: :post, local: true) do |f| %>
        <%= f.label :payment_method, "支払い方法" %><br>
        <%=f.radio_button :payment_method, 0 %>クレジットカード<br>
        <%=f.radio_button :payment_method, 1 %>銀行振込
    </div>
    <div class='col-md-9 mt-3'>
      <%= f.submit "確認画面へ進む", class:"btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>