<div class="container">
  <div class="row">
    <h3 class="under-border">注文情報入力</h3>
  </div>

  <div class="row mt-5">
    <div class="offset-2 col-5">
      <div class="row">
        <strong class="red-border px-3">支払方法</strong>
      </div>
      <%= form_with model: @order, url: info_orders_path, method: :post,local: true do |f| %>
        <div class="form-check mt-3">
          <label><%=f.select :payment_method, Order.payment_methods.keys %></label><br>
                 <%= f.hidden_field :bill, :value => @order.bill %>
        </div>

      <h4>お届け先</h4>
      <div class="col-xs-offset-1">
        <%= f.radio_button(:delivery_addr, "my_addr", {:checked => true}) %> ご自身の住所
        <div class="col-xs-offset-1">
          <%= "#{current_customer.postcode} #{current_customer.address} #{current_customer.family_name} #{current_customer.first_name}" %>
        </div>
      </div>





      <div class="col-xs-offset-1">
        <%= f.radio_button(:delivery_addr, "new_addr") %> 新しいお届け先

        <div class="col-xs-offset-1">
          <div class="form-group order-input-margin">
            <label class="col-xs-4">郵便番号(ハイフンなし)</label>
            <div class="col-xs-5">
              <%= f.text_field :new_post_cd,class: "form-control order-input-margin" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-4">住所</label>
            <div class="col-xs-8">
              <%= f.text_field :new_address,class: "form-control order-input-margin" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-4">宛名</label>
            <div class="col-xs-5">
              <%= f.text_field :new_name,class: "form-control"%>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
        <br>
          <%= f.submit "確認画面へ進む", class: "btn btn-primary " %>
          <% end %>
        </div>
      </div>
  </div>
</div>