 <%= link_to "カートを空にする", cart_items_path, method: :delete, class: "btn btn-sm btn-danger" %>
 <% @cart_items.each do |cart_item| %>
    <tbody>
      <tr>
      <td>
       <%= attachment_image_tag cart_item.product, :image, size: "50x50", fallback: "noimage-1024x898.png" %>
        <span><%= cart_item.product.name %></span>
        </td>
        <td>
          <%= cart_item.quantity %>個
          </td>
         <td>単価<%= (cart_item.product.price * 1.1).floor %>円</td>
           <td>
              合計金額<%= (cart_item.product.price * 1.1).floor * cart_item.quantity %>円
            </td>
            <td><%= form_with model:cart_item, local:true do |f| %>
                  <%= f.number_field :quantity, min:1,class: "col-6" %>
                  <%= f.submit "変更", class: "btn btn-sm btn-outline-danger offset-1 col-4" %>
                <% end %>
                </td>
            <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger" %></td>
          </tr>
        </tbody>
 <% end %>
