
<div class="container">
  <h2>商品一覧<span>（全<%= @products.count%>件）</span></h2>
  <div class="row">
    <div class="col">
      <div id="products-space">
        <% @products.each do |product| %>
	      <div class="products-lineup">
	     <%= link_to product_path(product.id) do %>
            <div class="product-img">
              <%= attachment_image_tag(product, :image, size: "120x120", fallback: "noimage-1024x898.png") %>
            </div>
            <p class="product-name">
              <%= product.name %>
            </p>
            <p class="product-price">
              ¥<%= (product.price * 1.1).to_i.to_s(:delimited) %>
            </p>
          <% end %>
        </div>
	      <% end %>
	    </div>
	  </div>
	</div>
</div>
