<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span>ながのCAKE</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li><%= link_to ' マイページ', customers_show_path, class: "btn btn-default" %></li>
          <li><%= link_to ' 商品一覧', products_path, class: "btn btn-default" %></li>
          <li><%= link_to ' カート', cart_items_path, class: "btn btn-default" %></li>
          <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-info" %></li>
        <% elsif manager_signed_in? %>
          <li><%= link_to "商品一覧", managers_products_path, class: "btn btn-default" %></li>
          <li><%= link_to "会員一覧", managers_customers_path, class: "btn btn-default" %></li>
          <li><%= link_to "注文履歴一覧", managers_orders_path, class: "btn btn-default" %></li>
          <li><%= link_to "ログアウト", destroy_manager_session_path, method: :delete, class: "btn btn-default" %></li>
        <% else %>
          <li><%= link_to ' About', homes_about_path, class: "btn btn-default" %></li>
          <li><%= link_to ' 商品一覧', products_path, class: "btn btn-default" %></li>
          <li><%= link_to ' 新規登録', new_customer_registration_path, class: "btn btn-default" %></li>
          <li><%= link_to ' ログイン', new_customer_session_path, class: "btn btn-default" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>