<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <% if manager_signed_in? %>
        <%= form_tag managers_products_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
        <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "検索", :name => nil %>
        </p>
        <% end %>
      <% end %>
    <%= yield %>
    <main>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
